<div style="display: flex; height: 100vh;">
  <div [class.sidebar-collapsed]="sidebarCollapsed()" class="sidebar" style="position: relative;">
    <div
      class="sidebar-drawer"
      (click)="sidebarCollapsed.set(!sidebarCollapsed())"
      style="position: absolute; right:-40px; top: 10rem; z-index: 100000; width: 40px; height: 50px">
      <img [src]="sidebarCollapsed() ? 'icons/double_arrow_right.svg' : 'icons/double_arrow_left.svg'">
    </div>
    <div class="display: flex; flex-direction: column">
      <button style="width: 100%;">create new</button>

      @for (location of locations(); track location.id) {
        <div class="sidebar__location-btn" [routerLink]="['locations', location.id]">
          <a>{{ location.name }}</a>
        </div>
      }
    </div>
  </div>

  <div id="map" style="width: 100%; height: 100vh;"></div>
</div>
<router-outlet></router-outlet>
